.headings{
    /* background-color: rgb(209, 253, 239); */
    text-align: center;
}
p{
    font-size: 18px;
}
body{
    background: url("clg.jpg");
    background-attachment: fixed;
}
img{
    width: 100px;
    height: 100px;
}
h3{
    text-align: center;
    border: 2px solid rgb(105, 175, 225);
    padding: 10px;
    width: 350px;
    margin: auto;
    border-radius: 40px;
    /* background: #3971BB */
}
h3:hover{
    color: white;
}

